@media (min-width: 320px) {
  .pooch-footer footer.footer-part {
      background-color: #111 !important;
  }
  }

[data-theme = "dark"] * {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
header, main, section {
    display: block;
}
  
.pooch-footer .footer-list ul li a,.pooch-footer .footer-list ul li p {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
}

.btn-primary {
  color: #fff !important;
  background-color: #189A46 !important;
  border-color: #189A46 !important;
}
.midd-footer a {
  color: #f53626;
}
  
.svg-inline--fa {
  color:#189A46;
  font-size: 30px;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}
.form-switch .form-check-input {
    width: 2em;
    margin-left: -2.5em;
    background-image: url();
    background-position: left center;
    border-radius: 2em;
    transition: background-position .15s ease-in-out;
}
.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* VIDEO START AREA */
body a, button, .btn {
    cursor: pointer !important;
    font-family: 'Jost', sans-serif;
}
.introparagraph h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}
.text-danger {
 color: #f53626 !important;
}
.videointro span.fa.fa-play {
    line-height: 55px;
}

.fa-sun:before {
  transform: rotate(-45deg);
}

.fa-sun:after {
  transform: rotate(45deg);
}

.form-check-input i.fa-sun {
  display: none;
}

.form-check-input i.fa-moon {
  display: block;
}

input:checked+.form-check-input i.fa-sun {
  display: block;
}

input:checked+.form-check-input i.fa-moon {
  display: none;
}
.videointro .videoblock {
    display: grid;
    align-items: center;
    padding: 2rem 0;
}
.videointro span.video-play-icon .fa,.fa-play {
    color: #189A46;
}
.videointro .middle-section {
    max-width: 950px;
    margin: 0 auto;
}
.videointro span.video-play-icon:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.videointro .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
}
.videointro span.video-play-icon {
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
}
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}
.position-relative {
    position: relative !important;
}
.position-absolute {
    position: absolute !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}

.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.radius-image {
    border-radius:10px;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
}
  
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}
  
.container-fluid,.container-sm,.container-md,.container-lg,.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  
@media (min-width: 576px) {
  
    .container,
    .container-sm {
      max-width: 540px;
    }
}
  
@media (min-width: 768px) {
  
    .container,
    .container-sm,
    .container-md {
      max-width: 720px;
    }
}
  
@media (min-width: 992px) {
  
    .container,
    .container-sm,
    .container-md,
    .container-lg {
      max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
  
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
      max-width: 1140px;
    }
}
  
/* Styles for dialog window */
#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
  }
  
div#small-dialog iframe {
    width: 100%;
    height: 400px;
    display: block;
}
  
/* Fade-zoom animation for first dialog /
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}
  
/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
}
  
/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
}
  
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
}
  
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
  
/* Fade-move animation for second dialog*/
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-out;
    transform: translateY(-20px) perspective(600px) rotateX(10deg);
}
  
/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: translateY(0) perspective(600px) rotateX(0);
}
  
/* animate out */
  .my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    transform: translateY(-10px) perspective(600px) rotateX(10deg);
}
  
/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
  
/* animate in */
  .my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.9;
}
  
/* animate out */
  .my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0.1;
}
  
.fadeIn-bottom {
    top: 80%;
}
  
.fadeIn-top {
    top: 20%;
}
  
.fadeIn-left {
    left: 20%;
}
  
.fadeIn-right {
    left: 80%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
}
@media (max-width: 1200px) {

  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}
  
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
  

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 1478px) {
    .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}}
@media (min-width: 1280px) {
  .container {
      max-width: 1200px;
  }
/* video done */
/* testimonial start */
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  display: block;
}

.owl-theme .owl-nav {
  display: none;
}

.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 32px;
  margin: 0px;
  width: 82px;
  background: rgba(255, 255, 255, 0.21);
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 82px;
  line-height: 15px;
  border-radius: 8px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #fff;
  opacity: 1;
  color: #007bff;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

.owl-theme .owl-nav [class*=owl-]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
  outline: none;
  box-shadow: none;
}

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #fff;
  display: block;
  transition: opacity .2s ease;
  border-radius: 25px;
  position: relative;
  opacity: 0.9;
}

button.owl-next,
button.owl-prev {
  position: absolute;
  bottom: 50%;
}

button.owl-prev {
  left: 10px;
}

button.owl-next {
  right: 10px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #189A46;
  width: 30px;
  height: 10px;
}

@media all and (max-width: 640px) {
  .owl-dots {
    margin-top: 30px;
  }

  button.owl-next,
  button.owl-prev {
    position: absolute;
    bottom: 38%;
  }
}

/*--/testimonials--*/
.owl-two.owl-carousel.owl-theme .owl-dots {
    position: inherit;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin-top: 80px;
}
  
.owl-two.owl-carousel.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #d8d8d8;
    display: block;
    transition: opacity .2s ease;
    border-radius: 25px;
    position: relative;
}
  
.owl-two.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.owl-two.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background: #189A46;
    width: 30px;
    height: 10px;
}
  
.maintestimonial {
    background: rgba(147, 107, 232, 0.05);
}
  
.maintestimonial .testimonial {
    position: relative;
    overflow: hidden;
    text-align: left;
}
  
.maintestimonial .testimonial-width {
    max-width: 1050px;
    margin: auto;
}
  
.maintestimonial .testimonial {
    display: block;
    margin: 0;
    padding: 40px 30px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}
  
.maintestimonial .testimonial-des {
    display: flex;
    text-align: center;
}
  
.maintestimonial blockquote q {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}
  
.maintestimonial blockquote q::before {
    font-size: 50px;
    color:#189A46;
    line-height: .8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: "Merriweather", serif;
}
  
.maintestimonial .test-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
}
  
.maintestimonial .testimonial img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;;
    object-position: center;
}
  
.maintestimonial .testimonial blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em;
}
  
.maintestimonial .testimonial .peopl {
    margin: 0;
    margin-left: 20px;
    text-align: left;
}
  
.maintestimonial .testimonial .peopl h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}
  
.maintestimonial p.indentity {
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
}
@media (max-width: 667px) {
    .owl-two.owl-carousel.owl-theme .owl-dots {
      position: inherit;
      left: 0px;
      right: 0px;
      bottom: 30px;
      margin-top: 80px;
      display: none;
}
}
  /*--/testimonials--*/
@media (max-width: 1080px) {
    .hny-title {
      font-size: 35px !important;
      line-height: 40px;
    }
  }
  
@media (max-width: 600px) {
    .hny-title {
      font-size: 32px !important;
      line-height: 38px;
}
}
  
@media (max-width: 378px) {
    .hny-title {
      font-size: 27px !important;
      line-height: 32px;
    }
}
  

@media all and (max-width: 640px) {
  .owl-dots {
    margin-top: 30px;
  }

}
@media (max-width:992px) {
    .owl-theme .owl-nav {
      display: none !important;
    }
  }

@media (max-width: 667px) {
    .owl-two.owl-carousel.owl-theme .owl-dots {
      position: inherit;
      left: 0px;
      right: 0px;
      bottom: 30px;
      margin-top: 80px;
      display: none;
}
}
/* testimonial ending */
/* subscribe start */
.bottom .subscribe {
  max-width: 650px;
}

.bottom .subscribe-three-field {
  justify-content: space-between;
}

.bottom form.subscribe-three input[type="email"] {
  font-size: 16px;
  color: #696969;
  border-radius: 10px;
  padding: 0px 20px;
  height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.bottom form.subscribe-three button {
  flex-basis: 27%;

}
.bottom input[type="email"]:focus {
  background: #fff;
  border: 1px solid #189A46;
  box-shadow: none;
}
@media only screen and (max-width:667px) {
  .bottom form.subscribe-three button {
    flex-basis: 100%;
    display: block;
    width: 100%;
    margin-top: 16px;
  }
}
/* subscribe ending */
/* footer */
.pooch-footer footer.footer-part {
    background-color: #111 !important;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #116E32 !important;
  border-color: #116E32 !important;
}

.btn:hover {
  text-decoration: none !important;
}

.pooch-footer h6.left-section {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}
  
.pooch-footer .footer-list ul li, .pooch-footer .midd-footer:nth-child(1) .footer-list ul li:last-child {
    list-style: none;
    margin-bottom: 5px;
}
  
.pooch-footer .footer-list ul li:last-child {
    margin-bottom: 0px;
}
.pooch-footer .row ul {
  padding-inline-start:0px !important;
}

.pooch-footer .footer-list ul li a:hover {
    text-decoration: underline;
    color: #fff;
}
  
.pooch-footer .social-footer a {
    margin-right: 25px;
}
  
.pooch-footer .social-footer a:last-child {
    margin-right: 0;
}
  
.pooch-footer .copy-footer {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #696969;
    margin-bottom: 0;
}
  
.pooch-footer .copy-footer a {
    color: #f53626;
    opacity: 0.9;
}
  
.pooch-footer .copy-footer a:hover {
    text-decoration: underline;
    opacity: 0.8;
}
  
.pooch-footer ul.social-icons {
    margin: 25px 0 15px;
}
  
.pooch-footer li {
    list-style-type: none;
    display: inline-block;
}
.pooch-footer ul.social-icons li:nth-child(1) {
  margin: 0 10px;
}
.pooch-footer ul.social-icons li:nth-child(2) {
    margin: 0 10px;
}
.pooch-footer ul.social-icons li:nth-child(3) {
  margin: 0 10px;
}
.pooch-footer ul.social-icons li:nth-child(4) {
  margin: 0 10px;
}
  
.pooch-footer .social-icons li a {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #696969;
}
  
.pooch-footer ul.social-icons {
    margin-top: 3px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
  
  .pooch-footer ul.social-icons li a {
    display: block;
    text-decoration: none;
  }
  
.pooch-footer ul.social-icons li {
    display: inline-block;
    margin: auto;
}
  
.pooch-footer ul.social-icons li a span {
    font-size: 16px;
    color: #696969;
  }
  
.pooch-footer ul.social-icons li span:hover {
    color:#fff;
    transition: 0.3s ease-in;}

.pooch-footer .midd-footer {
    background: #111;
    border-top: 1px solid rgba(103, 99, 99, 0.14);
  }
.mt-5, .my-5 {
    margin-top: 3rem !important;
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}}
@media (max-width: 736px) {
  .pooch-footer .grid-col-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .pooch-footer .footer-top {
    grid-gap: 20px;
  }
}

@media (max-width: 550px) {
  .pooch-footer ul.social-icons li {
    margin: 0 5px;
  }
}

@media (max-width: 480px) {
  .pooch-footer .footer-top {
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .pooch-footer ul.social-icons li:nth-child(2) {
    margin: 0;
  }

  .pooch-footer ul.social-icons {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
/* footer stop */
}