pt-5,
.py-5 {
  padding-top: 3rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: red;
}
.sub-title span {
  color: var(--heading-color);
}

img {
  vertical-align: middle;
  border-style: none;
}
body img {
  border-radius: 10px;
}
.w3l-services1 .cwp4-text {
  align-self: center;
}
.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

h6,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
h5 {
  margin-top: 0;
}

/* w3l-services1 */
.w3l-services1 .cwp4-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  margin: 15px 0 35px 0;
}
.w3l-services1 .cwp4-text ul li {
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 15px 0;
  font-weight: 600;
}
.w3l-services1 ul.cont-4 li span.fa {
  color: #189a46;
  margin-right: 12px;
  background: rgb(147 107 232 / 5%);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}
/* end */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* w31 start */
.w3l-stats {
  background: #189a46;
}

.stats_info {
  text-align: center;
  padding: 0;
  border-top: none;
  border-bottom: none;
}
.stats_info p {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}
.stats_info h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}
.w3l-pricing-7-main {
  background: rgb(147 107 232 / 5%);
}

.w3l-pricing-7-main .pricing-sec-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}

.w3l-pricing-7-main .pricing-gd-left {
  background: #fff;
  border-radius: 6px;
  align-self: center;
}
.w3l-pricing-7-main .pric-7-1 .w3l-pricing-7 {
  padding: 3.5em 2.5em;
  border-right: 0;
}
.w3l-pricing-7-top {
  text-align: center;
}
.w3l-pricing-7-main h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}
.w3l-pricing-7-main h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #189a46;
}
.w3l-pricing-7-main h4 label {
  font-size: 25px;
  vertical-align: text-top;
}
.w3l-pricing-7-main h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}
.w3l-pricing-7-bottom {
  text-align: center;
  padding-top: 1em;
}
.w3l-pricing-7-main ul.links {
  min-height: 120px;
}
.w3l-pricing-7-main ul.links li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}
.w3l-pricing-7-main p.lists {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  font-family: "Jost", sans-serif;
}
.w3l-pricing-7-main .buy-button {
  margin-top: 2em;
}
.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}
body a,
button,
.btn {
  cursor: pointer !important;
  font-family: "Jost", sans-serif;
}
.btn-primary {
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
}
.btn-primary:hover {
  background-color: #189a46;
}
.btn-primary:focus {
  color: #fff;
  background-color: #116e32;
  border-color: #116e32;
  box-shadow: 0 0 0 0.2rem rgba(15, 162, 67, 0.65);
}
.buy-button a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #189a46;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
}

.w3l-pricing-7-main .pricing-gd-left.active {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
  border-radius: 6px;
}
.pricing-gd-left.pric-7.active .w3l-pricing-7-top {
  padding: 3em 2.5em 0.5em;
  background: #189a46;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.w3l-pricing-7-main h5 {
  font-size: 15px;
  line-height: 20px;
  color: #189a46;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}
.w3l-pricing-7-main .pricing-gd-left.active h6,
.w3l-pricing-7-main .pricing-gd-left.active h4 {
  color: #fff;
}
button,
input,
select,
label,
li {
  outline: none;
  font-family: "Jost", sans-serif;
}
.w3l-pricing-7-main .pricing-gd-left.active h4 span {
  color: #eee;
}
.pricing-gd-left.pric-7.active .w3l-pricing-7-bottom {
  padding: 2em 2.5em 3.5em;
}
.w3l-pricing-7-main .pric-7-2 .w3l-pricing-7 {
  padding: 3.5em 2.5em;
  border-left: 0;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid,.container-sm,.container-md,.container-lg,.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
  

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 1478px) {
    .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}}

@media (min-width: 1280px) {
  .container {
      max-width: 1200px;
  }
}
@media (max-width: 1080px) {
  .hny-title {
    font-size: 35px !important;
    line-height: 40px;
  }
}
@media all and (max-width: 991px) {
  .w3l-services1 .cwp4-image img {
    width: 100%;
  }

  .w3l-services1 .cwp4-text h4,
  .w3l-services1 .fea-gd-vv h5 {
    font-size: 24px;
    line-height: 28px;
  }
}

@media all and (max-width: 600px) {
  .w3l-services1 .cwp4-text h3 {
    font-size: 30px;
    line-height: 35px;
  }
  .w3l-services1 .cwp4-text h4,
  .w3l-services1 .fea-gd-vv h5 {
    font-size: 22px;
    line-height: 28px;
  }
}

@media all and (max-width: 387px) {
  .w3l-services1 .cwp4-text h3 {
    font-size: 26px;
    line-height: 32px;
  }
}

@media all and (max-width: 320px) {
  .w3l-services1 .cwp4-text h4 {
    font-size: 23px;
    line-height: 28px;
  }

  .w3l-services1 #content-with-photo4-block {
    padding: 0 0 2.5rem 0;
  }
}
@media (max-width: 600px) {
  .hny-title {
    font-size: 32px !important;
    line-height: 38px;
  }
}

@media (max-width: 378px) {
  .hny-title {
    font-size: 27px !important;
    line-height: 32px;
  }
}

@media (max-width: 375px) {

  .btn-white,
  .btn-style {
    padding: 12px 30px;
  }

  .title-small {
    font-size: 14px !important;
    letter-spacing: .5px;
  }
}
@media all and (max-width: 320px) {
  .w3l-services1 .cwp4-text h4 {
    font-size: 23px;
    line-height: 28px;
  }

  .w3l-services1 #content-with-photo4-block {
    padding: 0 0 2.5rem 0;
  }
}
@media (max-width: 1366px) {
  .w3l-pricing-7-main .pricing-sec-7 {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .w3l-pricing-7-main .pricing-sec-7 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 50px auto 0;
  }

  .w3l-pricing-7-main .pric-7-1 {
    border: 1px solid var(--border-light);
  }

  .w3l-pricing-7-main .pric-7-2 {
    border: 1px solid var(--border-light);
  }

  .w3l-pricing-7-main .pricing-sec-7 {
    width: 60%;
  }

  .w3l-pricing-7-main .pricing-gd-left.active {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
}

@media (max-width: 768px) {
  .w3l-pricing-7-main .pricing-sec-7 {
    width: 75%;
  }

  .w3l-pricing-7-main h3.heading {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 600px) {
  .w3l-pricing-7-main p.pric-foot {
    margin-top: 25px;
  }
}

@media (max-width: 568px) {
  .w3l-pricing-7-main .pricing-7-sec h2 {
    margin-bottom: 1.3em;
  }

  .w3l-pricing-7-main .pricing-sec-7 {
    grid-gap: 20px;
    margin: 30px auto;
  }
}

@media (max-width: 480px) {
  .w3l-pricing-7-main .pricing-sec-7 {
    width: 80%;
  }
}

@media (max-width: 415px) {
  .w3l-pricing-7-main .pricing-sec-7 {
    width: 100%;
  }

  .w3l-pricing-7-main .copy-right p {
    font-size: 16px;
  }

  .w3l-pricing-7-main h3.heading {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (max-width: 375px) {
  .w3l-pricing-7-main h3.heading {
    font-size: 28px;
    line-height: 33px;
  }
}
